@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url(./variables.css);
html {
  background-color: var(--paloRosa);
  margin: 0;
  padding: 0;
}

*{
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  margin: 0;
  padding: 0;
}
a {
  color: var(--paloRosa);
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
}

.contenedor{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contenido {
  margin: 60px;
  border-radius: 10px;
  background: var(--blanco);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  padding: 0px;
  box-shadow: 0 30px 60px 0 var(--sombraNegra);
  text-align: center;
}

.cantenedorAbajo {
  background-color: var(--grisCenizo);
  border-top: 1px solid var(--paloRosa);
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.titulo {
  color: var(--negro);
  border-bottom: 2px solid var(--paloRosa);
}

.telefono{
  margin-bottom: 25px;
}
.genero{
  margin-top: 25px;
}

button, 
input[type=submit]{
  background-color: var(--paloRosa);
  border: none;
  color: var(--blanco);
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 10px 30px 0 var(--sombraRosa);
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
}

/* button:hover, 
input[type=submit]:hover {
  background-color: var(--paloRosa);
} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.campo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=number], 
input[type=password],
input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select {
  background-color: var(--grisCenizo);
  border: none;
  color: var(--negro);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid var(--grisCenizo);
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

input[type=number]:focus, 
input[type=password]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus{
  background-color: var(--blanco);
  border-bottom: 2px solid var(--paloRosa);
}

.linea:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--paloRosa);
  content: "";
  transition: width 0.2s;
}

.linea:hover {
  color: var(--negro);
}

.linea:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

.icon {
  width: 10%;
}

* {
  box-sizing: border-box;
}
