:root {
    --grisCenizo: #f6f6f6;
    --blanco: #fff;
    --negro: #000;
    --rosadpClaro: #da9890;
    --paloRosa: #DD969C;
    --sombraRosa: rgba(233, 95, 148, 0.4);
    --sombraNegra: rgba(0,0,0,0.3);
  }
  