@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url(./variables.css);

*{
  font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}
.logo{
    width: 60px;
    margin: 5px;
}
.encabezados a{
    align-items: stretch;
    height: auto;
    text-decoration:  none;
    color: var(--colorEncabezado);
    margin: 0 25px 0 25px;
}
.encabezados a:hover{
    color: var(--colorAcento);
}
.boton{
    text-decoration: none;
    color: white;
    background-color: var(--colorPrimario);
    padding: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.boton:hover{
    background-color: var(--colorAcento);
}
/*------------------------*/
.contenedor{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 0 100px;
}
.inicio_uno{
    width: 60%;
}
.info p:nth-child(1){
    color: var(--colorEncabezado);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: var(--colorPrimario) solid 3px;
}
.info p:nth-child(2){
    color: var(--colorTexto);
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 40px;
}
.imagen img{
    width: 600px;
}
/*------------------------*/
.contacto{
    display: flex;
    align-items: center;
    margin: 20px;
}
.contacto img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/*------------------------*/
.pie{
    background-color: var(--colorPrimario);
    margin-top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pie1{
    margin: 50px;
}
.pie2{
    margin-right: 300px;
}
.pie1 p:nth-child(1){
    color: var(--colorTexto);
    font-size: 20px;
    letter-spacing: 2px;
}
.pie1 p:nth-child(2),
.pie2 p{
    color: var(--colorTexto);
    font-size: 16px;
    letter-spacing: 2px;
}