@import url('https://fonts.googleapis.com/css?family=Poppins');
:root {
  --colorPrimario: #4A90E2;    /* Azul Primario */
  --colorSecundario: #50E3C2;  /* Verde Secundario */
  --colorAcento: #F5A623;      /* Naranja de Acento */
  --colorFondo: #F4F4F4;       /* Gris Claro de Fondo */
  --colorTexto: #333333;       /* Negro Suave para Texto */
  --colorEncabezado: #4A4A4A;  /* Gris Oscuro para Encabezados */
  --colorBorde: #E0E0E0;       /* Gris Claro para Bordes */
}
*{
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(105deg, var(--colorFondo) 50%, var(--colorPrimario) 50%);
}
.contenedeor{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    height: 80%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
    background: linear-gradient(105deg, var(--colorFondo) 50%, var(--colorPrimario) 50%);
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo img{
    width: 300px;
}
.logo p{
    color: var(--colorPrimario);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
}
.login,
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.login p{
    color: var(--colorTexto);
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 600;
}
input[type=number],
input[type=password] {
    background-color: white; 
    color: var(--colorTexto);
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.boton{
    text-decoration: none;
    color: var(--colorPrimario);
    background-color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    border: 0;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.boton:hover{
    color: white;
    background-color: var(--colorAcento);
    cursor: pointer;
}
.check{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;
}
.check p{
    margin: 0;
}
input[type=checkbox]{
    cursor: pointer;
}
.forgot {
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.forgot:hover{
    color: var(--colorAcento);
    text-decoration:dashed;
}
